<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.swinedatebaseproject.mapper.D5FlltrChrMapper">

    <resultMap id="BaseResultMap" type="com.example.swinedatebaseproject.domain.D5FlltrChr">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="flltrChr" column="flLTR_Chr" jdbcType="VARCHAR"/>
            <result property="flltrStart" column="flLTR_start" jdbcType="VARCHAR"/>
            <result property="flftrEnd" column="flFTR_end" jdbcType="VARCHAR"/>
            <result property="flftrTe" column="flFTR_TE" jdbcType="VARCHAR"/>
            <result property="strand" column="strand" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,flLTR_Chr,flLTR_start,
        flFTR_end,flFTR_TE,strand
    </sql>
</mapper>
