<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.swinedatebaseproject.mapper.Diploid2FreqMapper">

    <resultMap id="BaseResultMap" type="com.example.swinedatebaseproject.domain.Diploid2Freq">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="chrom" column="CHROM" jdbcType="VARCHAR"/>
            <result property="start" column="Start" jdbcType="VARCHAR"/>
            <result property="end" column="END" jdbcType="VARCHAR"/>
            <result property="diploid2FreqId" column="diploid_2_freq_id" jdbcType="VARCHAR"/>
            <result property="len" column="Len" jdbcType="VARCHAR"/>
            <result property="ref" column="Ref" jdbcType="VARCHAR"/>
            <result property="alt" column="Alt" jdbcType="VARCHAR"/>
            <result property="freq" column="Freq" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,CHROM,Start,
        END,diploid_2_freq_id,Len,
        Ref,Alt,Freq
    </sql>
</mapper>
