<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.swinedatebaseproject.mapper.G1HauMapper">

    <resultMap id="BaseResultMap" type="com.example.swinedatebaseproject.domain.G1Hau">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="chromosome" column="chromosome" jdbcType="VARCHAR"/>
            <result property="source" column="source" jdbcType="VARCHAR"/>
            <result property="feature" column="feature" jdbcType="VARCHAR"/>
            <result property="start" column="start" jdbcType="VARCHAR"/>
            <result property="end" column="end" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="VARCHAR"/>
            <result property="strand" column="strand" jdbcType="CHAR"/>
            <result property="frame" column="frame" jdbcType="VARCHAR"/>
            <result property="attributes" column="attributes" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,chromosome,source,
        feature,start,end,
        score,strand,frame,
        attributes
    </sql>
</mapper>
