<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.swinedatebaseproject.mapper.GenePavJ2Mapper">

    <resultMap id="BaseResultMap" type="com.example.swinedatebaseproject.domain.GenePavJ2">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="pos" column="pos" jdbcType="VARCHAR"/>
            <result property="gene" column="gene" jdbcType="VARCHAR"/>
            <result property="j200" column="J200" jdbcType="VARCHAR"/>
            <result property="j201" column="J201" jdbcType="VARCHAR"/>
            <result property="j202" column="J202" jdbcType="VARCHAR"/>
            <result property="j203" column="J203" jdbcType="VARCHAR"/>
            <result property="j204" column="J204" jdbcType="VARCHAR"/>
            <result property="j205" column="J205" jdbcType="VARCHAR"/>
            <result property="j206" column="J206" jdbcType="VARCHAR"/>
            <result property="j207" column="J207" jdbcType="VARCHAR"/>
            <result property="j208" column="J208" jdbcType="VARCHAR"/>
            <result property="j209" column="J209" jdbcType="VARCHAR"/>
            <result property="j20" column="J20" jdbcType="VARCHAR"/>
            <result property="j210" column="J210" jdbcType="VARCHAR"/>
            <result property="j211" column="J211" jdbcType="VARCHAR"/>
            <result property="j212" column="J212" jdbcType="VARCHAR"/>
            <result property="j213" column="J213" jdbcType="VARCHAR"/>
            <result property="j214" column="J214" jdbcType="VARCHAR"/>
            <result property="j215" column="J215" jdbcType="VARCHAR"/>
            <result property="j21" column="J21" jdbcType="VARCHAR"/>
            <result property="j220" column="J220" jdbcType="VARCHAR"/>
            <result property="j22" column="J22" jdbcType="VARCHAR"/>
            <result property="j23" column="J23" jdbcType="VARCHAR"/>
            <result property="j24" column="J24" jdbcType="VARCHAR"/>
            <result property="j25" column="J25" jdbcType="VARCHAR"/>
            <result property="j26" column="J26" jdbcType="VARCHAR"/>
            <result property="j272" column="J27_2" jdbcType="VARCHAR"/>
            <result property="j27" column="J27" jdbcType="VARCHAR"/>
            <result property="j28" column="J28" jdbcType="VARCHAR"/>
            <result property="j29" column="J29" jdbcType="VARCHAR"/>
            <result property="j2" column="J2" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pos,gene,
        J200,J201,J202,
        J203,J204,J205,
        J206,J207,J208,
        J209,J20,J210,
        J211,J212,J213,
        J214,J215,J21,
        J220,J22,J23,
        J24,J25,J26,
        J27_2,J27,J28,
        J29,J2
    </sql>
</mapper>
