<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.swinedatebaseproject.mapper.GeneMapper">

    <resultMap id="BaseResultMap" type="com.example.swinedatebaseproject.domain.Gene">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="geneId" column="gene_id" jdbcType="VARCHAR"/>
            <result property="chrId" column="chr_id" jdbcType="VARCHAR"/>
            <result property="geneName" column="gene_name" jdbcType="VARCHAR"/>
            <result property="geneStart" column="gene_start" jdbcType="INTEGER"/>
            <result property="geneEnd" column="gene_end" jdbcType="INTEGER"/>
            <result property="genomeId" column="genome_id" jdbcType="INTEGER"/>
            <result property="geneStrand" column="gene_strand" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,gene_id,chr_id,
        gene_name,gene_start,gene_end,
        genome_id,gene_strand
    </sql>
</mapper>
