<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.swinedatebaseproject.mapper.GenePavGarMapper">

    <resultMap id="BaseResultMap" type="com.example.swinedatebaseproject.domain.GenePavGar">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="pos" column="pos" jdbcType="VARCHAR"/>
            <result property="gene" column="gene" jdbcType="VARCHAR"/>
            <result property="gar01" column="Gar01" jdbcType="VARCHAR"/>
            <result property="gar02" column="Gar02" jdbcType="VARCHAR"/>
            <result property="gar03" column="Gar03" jdbcType="VARCHAR"/>
            <result property="gar04" column="Gar04" jdbcType="VARCHAR"/>
            <result property="gar30" column="Gar30" jdbcType="VARCHAR"/>
            <result property="gar31" column="Gar31" jdbcType="VARCHAR"/>
            <result property="gar32" column="Gar32" jdbcType="VARCHAR"/>
            <result property="gar33" column="Gar33" jdbcType="VARCHAR"/>
            <result property="gar34" column="Gar34" jdbcType="VARCHAR"/>
            <result property="gar35" column="Gar35" jdbcType="VARCHAR"/>
            <result property="gar36" column="Gar36" jdbcType="VARCHAR"/>
            <result property="gar37" column="Gar37" jdbcType="VARCHAR"/>
            <result property="gar38" column="Gar38" jdbcType="VARCHAR"/>
            <result property="gar39" column="Gar39" jdbcType="VARCHAR"/>
            <result property="gar40" column="Gar40" jdbcType="VARCHAR"/>
            <result property="gar41" column="Gar41" jdbcType="VARCHAR"/>
            <result property="gar42" column="Gar42" jdbcType="VARCHAR"/>
            <result property="gar43" column="Gar43" jdbcType="VARCHAR"/>
            <result property="gar44" column="Gar44" jdbcType="VARCHAR"/>
            <result property="gar45" column="Gar45" jdbcType="VARCHAR"/>
            <result property="gar46" column="Gar46" jdbcType="VARCHAR"/>
            <result property="gar47" column="Gar47" jdbcType="VARCHAR"/>
            <result property="gar48" column="Gar48" jdbcType="VARCHAR"/>
            <result property="gar49" column="Gar49" jdbcType="VARCHAR"/>
            <result property="gar50" column="Gar50" jdbcType="VARCHAR"/>
            <result property="gar51" column="Gar51" jdbcType="VARCHAR"/>
            <result property="gar52" column="Gar52" jdbcType="VARCHAR"/>
            <result property="gar53" column="Gar53" jdbcType="VARCHAR"/>
            <result property="gar54" column="Gar54" jdbcType="VARCHAR"/>
            <result property="gar55" column="Gar55" jdbcType="VARCHAR"/>
            <result property="gar56" column="Gar56" jdbcType="VARCHAR"/>
            <result property="gar57" column="Gar57" jdbcType="VARCHAR"/>
            <result property="gar58" column="Gar58" jdbcType="VARCHAR"/>
            <result property="gar59" column="Gar59" jdbcType="VARCHAR"/>
            <result property="gar60" column="Gar60" jdbcType="VARCHAR"/>
            <result property="gar61" column="Gar61" jdbcType="VARCHAR"/>
            <result property="gar62" column="Gar62" jdbcType="VARCHAR"/>
            <result property="gar63" column="Gar63" jdbcType="VARCHAR"/>
            <result property="gar64" column="Gar64" jdbcType="VARCHAR"/>
            <result property="gar65" column="Gar65" jdbcType="VARCHAR"/>
            <result property="gar66" column="Gar66" jdbcType="VARCHAR"/>
            <result property="ghe01" column="Ghe01" jdbcType="VARCHAR"/>
            <result property="ghe02" column="Ghe02" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pos,gene,
        Gar01,Gar02,Gar03,
        Gar04,Gar30,Gar31,
        Gar32,Gar33,Gar34,
        Gar35,Gar36,Gar37,
        Gar38,Gar39,Gar40,
        Gar41,Gar42,Gar43,
        Gar44,Gar45,Gar46,
        Gar47,Gar48,Gar49,
        Gar50,Gar51,Gar52,
        Gar53,Gar54,Gar55,
        Gar56,Gar57,Gar58,
        Gar59,Gar60,Gar61,
        Gar62,Gar63,Gar64,
        Gar65,Gar66,Ghe01,
        Ghe02
    </sql>
</mapper>
