<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.swinedatebaseproject.mapper.GenePavJ12Mapper">

    <resultMap id="BaseResultMap" type="com.example.swinedatebaseproject.domain.GenePavJ12">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="pos" column="pos" jdbcType="VARCHAR"/>
            <result property="gene" column="gene" jdbcType="VARCHAR"/>
            <result property="j120" column="J120" jdbcType="VARCHAR"/>
            <result property="j122" column="J122" jdbcType="VARCHAR"/>
            <result property="j123" column="J123" jdbcType="VARCHAR"/>
            <result property="j124" column="J124" jdbcType="VARCHAR"/>
            <result property="j125" column="J125" jdbcType="VARCHAR"/>
            <result property="j126" column="J126" jdbcType="VARCHAR"/>
            <result property="j127" column="J127" jdbcType="VARCHAR"/>
            <result property="j128" column="J128" jdbcType="VARCHAR"/>
            <result property="j1291" column="J129_1" jdbcType="VARCHAR"/>
            <result property="j1292" column="J129_2" jdbcType="VARCHAR"/>
            <result property="j12" column="J12" jdbcType="VARCHAR"/>
            <result property="j130" column="J130" jdbcType="VARCHAR"/>
            <result property="j131" column="J131" jdbcType="VARCHAR"/>
            <result property="j132" column="J132" jdbcType="VARCHAR"/>
            <result property="j133" column="J133" jdbcType="VARCHAR"/>
            <result property="j134" column="J134" jdbcType="VARCHAR"/>
            <result property="j135" column="J135" jdbcType="VARCHAR"/>
            <result property="j136" column="J136" jdbcType="VARCHAR"/>
            <result property="j137" column="J137" jdbcType="VARCHAR"/>
            <result property="j138" column="J138" jdbcType="VARCHAR"/>
            <result property="j139" column="J139" jdbcType="VARCHAR"/>
            <result property="j13" column="J13" jdbcType="VARCHAR"/>
            <result property="j1401" column="J140_1" jdbcType="VARCHAR"/>
            <result property="j1402" column="J140_2" jdbcType="VARCHAR"/>
            <result property="j141" column="J141" jdbcType="VARCHAR"/>
            <result property="j142" column="J142" jdbcType="VARCHAR"/>
            <result property="j143" column="J143" jdbcType="VARCHAR"/>
            <result property="j144" column="J144" jdbcType="VARCHAR"/>
            <result property="j145" column="J145" jdbcType="VARCHAR"/>
            <result property="j146" column="J146" jdbcType="VARCHAR"/>
            <result property="j147" column="J147" jdbcType="VARCHAR"/>
            <result property="j148" column="J148" jdbcType="VARCHAR"/>
            <result property="j14" column="J14" jdbcType="VARCHAR"/>
            <result property="j150" column="J150" jdbcType="VARCHAR"/>
            <result property="j151" column="J151" jdbcType="VARCHAR"/>
            <result property="j1521" column="J152_1" jdbcType="VARCHAR"/>
            <result property="j152" column="J152" jdbcType="VARCHAR"/>
            <result property="j153" column="J153" jdbcType="VARCHAR"/>
            <result property="j154" column="J154" jdbcType="VARCHAR"/>
            <result property="j155" column="J155" jdbcType="VARCHAR"/>
            <result property="j156" column="J156" jdbcType="VARCHAR"/>
            <result property="j158" column="J158" jdbcType="VARCHAR"/>
            <result property="j159" column="J159" jdbcType="VARCHAR"/>
            <result property="j15" column="J15" jdbcType="VARCHAR"/>
            <result property="j160" column="J160" jdbcType="VARCHAR"/>
            <result property="j161" column="J161" jdbcType="VARCHAR"/>
            <result property="j162" column="J162" jdbcType="VARCHAR"/>
            <result property="j163" column="J163" jdbcType="VARCHAR"/>
            <result property="j164" column="J164" jdbcType="VARCHAR"/>
            <result property="j165" column="J165" jdbcType="VARCHAR"/>
            <result property="j166" column="J166" jdbcType="VARCHAR"/>
            <result property="j167" column="J167" jdbcType="VARCHAR"/>
            <result property="j168" column="J168" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pos,gene,
        J120,J122,J123,
        J124,J125,J126,
        J127,J128,J129_1,
        J129_2,J12,J130,
        J131,J132,J133,
        J134,J135,J136,
        J137,J138,J139,
        J13,J140_1,J140_2,
        J141,J142,J143,
        J144,J145,J146,
        J147,J148,J14,
        J150,J151,J152_1,
        J152,J153,J154,
        J155,J156,J158,
        J159,J15,J160,
        J161,J162,J163,
        J164,J165,J166,
        J167,J168
    </sql>
</mapper>
