<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="swine_search.mapper.GeneExpMapper">

    <resultMap id="BaseResultMap" type="swine_search.domain.GeneExp">
            <result property="gene" column="Gene" jdbcType="VARCHAR"/>
            <result property="anther" column="Anther" jdbcType="VARCHAR"/>
            <result property="bract" column="Bract" jdbcType="VARCHAR"/>
            <result property="cotyledon" column="Cotyledon" jdbcType="VARCHAR"/>
            <result property="fiber10DPA" column="Fiber10DPA" jdbcType="VARCHAR"/>
            <result property="fiber20DPA" column="Fiber20DPA" jdbcType="VARCHAR"/>
            <result property="fiber5DPA" column="Fiber5DPA" jdbcType="VARCHAR"/>
            <result property="flower" column="Flower" jdbcType="VARCHAR"/>
            <result property="leaf" column="Leaf" jdbcType="VARCHAR"/>
            <result property="ovule0DPA" column="Ovule0DPA" jdbcType="VARCHAR"/>
            <result property="ovule10DPA" column="Ovule10DPA" jdbcType="VARCHAR"/>
            <result property="ovule20DPA" column="Ovule20DPA" jdbcType="VARCHAR"/>
            <result property="ovule5DPA" column="Ovule5DPA" jdbcType="VARCHAR"/>
            <result property="ovuleF10DPA" column="OvuleF10DPA" jdbcType="VARCHAR"/>
            <result property="ovuleF20DPA" column="OvuleF20DPA" jdbcType="VARCHAR"/>
            <result property="ovuleF5DPA" column="OvuleF5DPA" jdbcType="VARCHAR"/>
            <result property="petal" column="Petal" jdbcType="VARCHAR"/>
            <result property="phloem" column="Phloem" jdbcType="VARCHAR"/>
            <result property="seed" column="Seed" jdbcType="VARCHAR"/>
            <result property="seedlingroot" column="Seedlingroot" jdbcType="VARCHAR"/>
            <result property="seedlingstem" column="Seedlingstem" jdbcType="VARCHAR"/>
            <result property="sepal" column="Sepal" jdbcType="VARCHAR"/>
            <result property="stigma" column="Stigma" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        Gene,Anther,Bract,
        Cotyledon,Fiber10DPA,Fiber20DPA,
        Fiber5DPA,Flower,Leaf,
        Ovule0DPA,Ovule10DPA,Ovule20DPA,
        Ovule5DPA,OvuleF10DPA,OvuleF20DPA,
        OvuleF5DPA,Petal,Phloem,
        Seed,Seedlingroot,Seedlingstem,
        Sepal,Stigma
    </sql>
</mapper>
