<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.swinedatebaseproject.mapper.GenomeMapper">

    <resultMap id="BaseResultMap" type="com.example.swinedatebaseproject.domain.Genome">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="genomeId" column="genome_id" jdbcType="VARCHAR"/>
            <result property="genomeGroup" column="genome_group" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,genome_id,genome_group,
        version
    </sql>
</mapper>
