<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.swinedatebaseproject.mapper.LiteratureMapper">

    <resultMap id="BaseResultMap" type="com.example.swinedatebaseproject.domain.Literature">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="correlationCottonName" column="correlation_cotton_name" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="website" column="website" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,correlation_cotton_name,name,
        website,author
    </sql>
</mapper>
