<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.swinedatebaseproject.mapper.Orthogroups5genomesMapper">

    <resultMap id="BaseResultMap" type="com.example.swinedatebaseproject.domain.Orthogroups5genomes">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="orthogroup" column="Orthogroup" jdbcType="VARCHAR"/>
            <result property="a2" column="A2" jdbcType="VARCHAR"/>
            <result property="athaliana" column="Athaliana" jdbcType="VARCHAR"/>
            <result property="d5" column="D5" jdbcType="VARCHAR"/>
            <result property="osativa" column="Osativa" jdbcType="VARCHAR"/>
            <result property="kirkii" column="kirkii" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,Orthogroup,A2,
        Athaliana,D5,Osativa,
        kirkii
    </sql>
</mapper>
