<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.swinedatebaseproject.mapper.SnpInfoMapper">


    <resultMap id="BaseResultMap" type="com.example.swinedatebaseproject.domain.SnpInfo">
            <result property="chrom" column="CHROM" jdbcType="VARCHAR"/>
            <result property="pos" column="POS" jdbcType="INTEGER"/>
            <result property="id" column="ID" jdbcType="VARCHAR"/>
            <result property="len" column="Len" jdbcType="VARCHAR"/>
            <result property="ref" column="Ref" jdbcType="VARCHAR"/>
            <result property="alt" column="Alt" jdbcType="VARCHAR"/>
            <result property="freq" column="Freq" jdbcType="VARCHAR"/>
            <result property="altNum" column="Alt_num" jdbcType="VARCHAR"/>
            <result property="totalNum" column="Total_num" jdbcType="VARCHAR"/>
            <result property="zScore" column="z_score" jdbcType="VARCHAR"/>
            <result property="hardClippedBases" column="Hard_Clipped_Bases" jdbcType="VARCHAR"/>
            <result property="dp" column="DP" jdbcType="VARCHAR"/>
            <result property="excesshet" column="ExcessHet" jdbcType="VARCHAR"/>
            <result property="fs" column="FS" jdbcType="VARCHAR"/>
            <result property="inbreedingcoeff" column="InbreedingCoeff" jdbcType="VARCHAR"/>
            <result property="mleac" column="MLEAC" jdbcType="VARCHAR"/>
            <result property="mleaf" column="MLEAF" jdbcType="VARCHAR"/>
            <result property="mq" column="MQ" jdbcType="VARCHAR"/>
            <result property="mqranksum" column="MQRankSum" jdbcType="VARCHAR"/>
            <result property="qd" column="QD" jdbcType="VARCHAR"/>
            <result property="readposranksum" column="ReadPosRankSum" jdbcType="VARCHAR"/>
            <result property="sor" column="SOR" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        CHROM,POS,ID,
        Len,Ref,Alt,
        Freq,Alt_num,Total_num,
        z_score,Hard_Clipped_Bases,DP,
        ExcessHet,FS,InbreedingCoeff,
        MLEAC,MLEAF,MQ,
        MQRankSum,QD,ReadPosRankSum,
        SOR
    </sql>

    <select id="selectPageV1" parameterType="int" resultMap="BaseResultMap">
        select * from cotton.snp_info where POS>=(select POS from snp_info limit #{offset},1) order by POS desc limit #{length}
    </select>


</mapper>
