<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.swinedatebaseproject.mapper.SouthAmericaCountMapper">

    <resultMap id="BaseResultMap" type="com.example.swinedatebaseproject.domain.SouthAmericaCount">
            <result property="chrom" column="CHROM" jdbcType="VARCHAR"/>
            <result property="pos" column="POS" jdbcType="INTEGER"/>
            <result property="nAlleles" column="N_ALLELES" jdbcType="INTEGER"/>
            <result property="nChr" column="N_CHR" jdbcType="INTEGER"/>
            <result property="allType" column="ALL_Type" jdbcType="VARCHAR"/>
            <result property="allCount" column="ALL_Count" jdbcType="INTEGER"/>
            <result property="refType" column="Ref_Type" jdbcType="VARCHAR"/>
            <result property="refCount" column="Ref_Count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        CHROM,POS,N_ALLELES,
        N_CHR,ALL_Type,ALL_Count,
        Ref_Type,Ref_Count
    </sql>
</mapper>
